run = "python manage.py runserver 0.0.0.0:3000"
modules = ["nodejs-20", "web", "python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "fontconfig", "freetype", "gettext", "ghostscript", "glib", "glibcLocales", "harfbuzz", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pango", "pgadmin4", "pkg-config", "rustc", "tcl", "tk", "xcodebuild", "zlib"]

[unitTest]
language = "python3"

[deployment]
run = ["gunicorn", "--bind=0.0.0.0:5000", "--reuse-port", "rent_management.wsgi"]
deploymentTarget = "autoscale"
build = ["python", "manage.py", "collectstatic", "--noinput"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33385
externalPort = 3000

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver 0.0.0.0:5000"
waitForPort = 5000
