run = "python manage.py runserver 0.0.0.0:3000"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "cargo", "fontconfig", "freetype", "gettext", "ghostscript", "glib", "glibcLocales", "harfbuzz", "lcms2", "libffi", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pango", "pgadmin4", "pkg-config", "rustc", "tcl", "tk", "xcodebuild", "zlib"]

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python manage.py runserver 0.0.0.0:3000"]
deploymentTarget = "gce"

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
