{% extends 'dashboard/base.html' %}
{% load i18n %}
{% block title %}{% trans "إدارة المصاريف" %}{% endblock %}
{% block content %}
<div class="flex justify-between items-center mb-6">
    <h2 class="text-3xl font-bold text-gray-800">{% trans "المصاريف" %}</h2>
    <a href="{% url 'expense_create' %}" class="btn-primary py-2 px-5 rounded-lg font-semibold">{% trans "إضافة مصروف جديد" %}</a>
</div>
<div class="card overflow-hidden">
    <table class="w-full text-start">
        <thead class="bg-gray-50 border-b">
            <tr>
                <th class="p-4">{% trans "سند الصرف" %}</th>
                <th class="p-4">{% trans "التاريخ" %}</th>
                <th class="p-4">{% trans "الوصف" %}</th>
                <th class="p-4">{% trans "المبلغ" %}</th>
                <th class="p-4">{% trans "إجراءات" %}</th></tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr class="border-b hover:bg-gray-50">
                <td class="p-4 font-mono">{{ expense.voucher_number }}</td>
                <td class="p-4">{{ expense.expense_date|date:"d M Y" }}</td>
                <td class="p-4">{{ expense.description }}</td>
                <td class="p-4 font-mono">{{ expense.amount|floatformat:2 }}</td>
                <td class="p-4"><a href="{% url 'expense_update' expense.pk %}" class="text-blue-600 hover:underline">{% trans "تعديل" %}</a>
                    <a href="{% url 'voucer_payment_print' expense.pk %}" target="_blank" class="text-blue-600 hover:underline">{% trans "طباعة" %}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}